@import "../../../scss/index";

:host{
  height: auto;
}

.ln-banner {
  color: var(--color-white);
  height: auto;
  padding: 8px;


  h3 {
    font-size: 1em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;    
    //border-bottom: 0.06em solid var(--color-gray-500);
    padding-bottom: 8px;
  }
}