<div class="ln-knowledge">
    <ln-tab-panel (onTabChange)="handleTabChange($event)">
        <ln-tab [id]="1" [label]="'Cloud Solution Providers'"  [active]="true"> 
            <ul class="ln-knowledge-cards">
                @for (knowledge of services; track $index) {
                <li class="ln-knowledge-card">
                    <ln-card-knowledge class="ln-card-Knowledge cloud-provider" [card]="knowledge"></ln-card-knowledge>
                </li>
                }
            </ul>
        </ln-tab>   
        <ln-tab [id]="2" [label]="'Machine Learning'" >
            <ul class="ln-knowledge-cards">
                @for (knowledge of machineLearning; track $index) {
                <li class="ln-knowledge-card">
                    <ln-card-knowledge class="ln-card-Knowledge machine-learning" [card]="knowledge"></ln-card-knowledge>
                </li>
                }
            </ul>
        </ln-tab>             
        <ln-tab [id]="3" [label]="'Languages'">
            <ul class="ln-knowledge-cards">
                @for (knowledge of languages; track $index) {
                <li class="ln-knowledge-card">
                    <ln-card-knowledge class="ln-card-Knowledge language" [card]="knowledge"></ln-card-knowledge>
                </li>
                }
            </ul>
        </ln-tab>
        <ln-tab [id]="4" [label]="'Databases'" >
            <ul class="ln-knowledge-cards">
                @for (knowledge of databases; track $index) {
                <li class="ln-knowledge-card">
                    <ln-card-knowledge class="ln-card-Knowledge database" [card]="knowledge"></ln-card-knowledge>
                </li>
                }
            </ul>
        </ln-tab>

    </ln-tab-panel>
</div>
