:host
{
  width: 100%;
}

.ln-menu
{
  width: 100%;
  

  ul.ln-menu-items
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;

    li.ln-menu-item
    {
    
      width: auto;
      cursor:default;
    }
  }
}